<div class="resourcen d-flex flex-col flex-grow overflow-hidden">
    {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="resourcen-list" dynamic=true item=data.resourcen.tableData fields=data.resourcen.tableFields}}
        {{#*inline "icons-end"}}
            <i class="fas fa-plus clickable" data-operation="add" data-type="resource"></i>
        {{/inline}}
        {{#*inline "item-template"}}
            {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                {{#*inline "icons-end"}}
                    <i class="fas fa-edit clickable" data-operation="edit" data-type="resource" data-click-id="{{id}}"></i>
                    <i class="fas fa-trash clickable" data-operation="delete" data-type="resource" data-click-id="{{id}}"></i>
                {{/inline}}
            {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
        {{/inline}}
    {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
</div>
