<div class="d-flex flex-col item-list {{class}}">
    <div class="d-flex align-items-center item-list__item item-list__header">
        {{#each fields}}
            <div class="list-item__element flex-grow">
                {{localize this}}
            </div>
        {{/each}}
        <div class="d-flex flex-grow list-item__element align-items-center" style="justify-content: flex-end">
            {{#> icons-end}}
                <i class="fas fa-plus add-item clickable"></i>
            {{/icons-end}}
        </div>
    </div>
    {{#if dynamic}}
        {{#each item}}
            {{#> item-template item=item}}
                {{#> systems/splittermond/templates/partials/includes/item-list-item.hbs fields=fields index=@index}}
                {{/systems/splittermond/templates/partials/includes/item-list-item.hbs}}
            {{/item-template}}
        {{/each}}
    {{/if}}
    {{#unless dynamic}}
        {{#> list-content}}{{/list-content}}
    {{/unless}}
</div>
