<div class="d-flex align-items-center item-list__item">
    {{#each fields}}
        <div class="list-item__element flex-grow">
            {{this}}
        </div>
    {{/each}}
    <div class="d-flex flex-grow list-item__element align-items-center" style="justify-content: flex-end">
        <i class="fas fa-edit edit-item clickable" data-index="{{index}}"></i>
        <i class="fas fa-trash delete-item clickable" data-index="{{index}}"></i>
    </div>
</div>
