.portrait {
  $portraitSize: 200px;
  $portraitFrameWidth: 286px;
  $portraitWidthHalf: 0.5 * $portraitSize;

  position: relative;
  display: flex;
  flex-direction: column;
  height: $portraitSize;
  width: $portraitFrameWidth;
  filter: drop-shadow(2px 4px 4px black);


  .portrait-move-icon {
    $size: 20px;
    $halfSize: calc(0.5 * #{$size});
    width: $size;
    height: $size;
    font-size: $size;
    position: absolute;
    color: white;
    filter: drop-shadow(0 0 2px black);
    display: none;

    &.fa-caret-up {
      top: 0;
      left: calc(#{$portraitWidthHalf} - #{$halfSize});
    }

    &.fa-caret-down {
      bottom: 0;
      left: calc(#{$portraitWidthHalf} - #{$halfSize});
    }

    &.fa-caret-right {
      left: $portraitSize;
      top: calc(#{$portraitWidthHalf} - #{$halfSize});
    }

    &.fa-caret-left {
      left: 0;
      top: calc(#{$portraitWidthHalf} - #{$halfSize});
    }

    &.fa-search-plus {
      top: 0;
      left: $portraitSize;
    }

    &.fa-search-minus {
      top: 0;
      left: 0;
    }

  }

  &__layer {
    margin-left: 5%;
    clip-path: circle(97px at 97px 97px);
    cursor: pointer;
  }

  &__frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('assets/custom/portrait-frame.webp');
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
  }
}

.portrait:hover .portrait-move-icon {
  display: block !important;
}
