.separator-vertical {
  min-width: 3px;
  max-width: 3px;
  min-height: 100%;
  background-image: url("assets/custom/border-vertical.webp");
  background-size: 100% 100%;
  margin-left: 5px;
  margin-right: 5px;
}
