.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-grow {
  flex: 1 1 0;
}

.flex-no-grow {
  flex: 0 0 0;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-content: center;
  text-align: center;
}

.p-0 {
  padding: 0;
}

.p-small {
  padding: 0.25rem;
}

.p-big {
  padding: 0.5rem;
}

.m-0 {
  margin: 0;
}

.m-small {
  margin: 0.25rem;
}

.m-big {
  margin: 0.5rem;
}

.col-1 {
  min-width: 10%;
  max-width: 10%;
}

.col-2 {
  min-width: 20%;
  max-width: 20%;
}

.col-3 {
  min-width: 30%;
  max-width: 30%;
}

.col-4 {
  min-width: 40%;
  max-width: 40%;
}

.col-5 {
  min-width: 50%;
  max-width: 50%;
}

.col-6 {
  min-width: 60%;
  max-width: 60%;
}

.col-7 {
  min-width: 70%;
  max-width: 70%;
}

.col-8 {
  min-width: 80%;
  max-width: 80%;
}

.col-9 {
  min-width: 90%;
  max-width: 90%;
}

.col-10 {
  min-width: 100%;
  max-width: 100%;
}
