.explanation-text {
  display: none;
  min-height: var(--control-size) !important;
}

.explanation-text--active {
  display: block;
}

.tick-explanation-text {
  display: none;
  min-height: var(--control-size) !important;
}

.tick-explanation-text--active {
  display: block;
}
