.splittermond {
    --bg-color: cyan;
    --color-primary: black;
    --color-highlight: darkblue;
    --control-size: 40px;
    --list-item-height: 25px;

    @import '~@fortawesome/fontawesome-free/css/all.min.css';

    @import 'layout';
    @import "helpers";
    @import 'includes/portrait';
    @import 'includes/fancy-bottom';
    @import 'includes/item-list';
    @import 'includes/editor';
    @import "includes/separator-vertical";
    @import 'includes/indicator';
    @import 'sheets/actor/actor-sheet';
    @import 'sheets/actor/player-sheet';
    @import 'sheets/item/item-sheet';
    @import "sheets/item/rasse-sheet";

    .window-content {
        padding: 0;
        margin: 0;
    }
}
