{{#> systems/splittermond/templates/partials/layouts/layout-item.hbs class="abstammung-sheet" hasPortrait=true}}
    {{#*inline "item-header"}}
        <h1 class="charname flex-grow" style="border: none;"><input name="name" type="text" value="{{item.name}}"/></h1>
    {{/inline}}
    {{#*inline "nav-tabs"}}
        <a class="item control-height" data-tab="description">{{localize "splittermond.item.nav.description"}}</a>
        <a class="item control-height" data-tab="details">{{localize "splittermond.item.nav.modifier"}}</a>
        <a class="item control-height" data-tab="chargen">{{localize "splittermond.item.nav.chargen"}}</a>
    {{/inline}}
    {{#*inline "nav-content"}}
        <div class="tab" style="height: 100%;" data-group="primary" data-tab="description">
            {{#> systems/splittermond/templates/partials/includes/editor.hbs target="data.beschreibung" content=data.beschreibung}}
            {{/systems/splittermond/templates/partials/includes/editor.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="details">
            {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="abstammung-modifier" dynamic=true item=data.modifier fields=(modifierTableHeaders)}}
            {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="chargen">
            {{#> systems/splittermond/templates/partials/includes/chargen.hbs data.chargen}}
            {{/systems/splittermond/templates/partials/includes/chargen.hbs}}
        </div>
    {{/inline}}
{{/systems/splittermond/templates/partials/layouts/layout-item.hbs}}
