{{#> systems/splittermond/templates/partials/layouts/layout-item.hbs class="kultur-sheet" hasPortrait=true}}
    {{#*inline "item-header"}}
        <h1 class="charname flex-grow" style="border: none;"><input name="name" type="text" value="{{item.name}}"/></h1>
    {{/inline}}
    {{#*inline "nav-tabs"}}
        <a class="item control-height" data-tab="description">Beschreibung</a>
        <a class="item control-height" data-tab="details">Modifier</a>
    {{/inline}}
    {{#*inline "nav-content"}}
        <div class="tab" style="height: 100%;" data-group="primary" data-tab="description">
            {{#> systems/splittermond/templates/partials/includes/editor.hbs target="data.beschreibung" content=data.beschreibung}}
            {{/systems/splittermond/templates/partials/includes/editor.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="details">
            <div class="d-flex flex-col flex-grow">
                <div class="d-flex align-items-center m-small">
                    <label class="col-4" for="data.fertigkeit">Fertigkeit:</label>
                    <input class="col-6" type="text" name="data.fertigkeit" value="{{data.fertigkeit}}"/>
                </div>
                {{#> systems/splittermond/templates/partials/includes/item-list.hbs class="kultur-modifier" dynamic=true item=data.modifier fields=(asList "Art" "Ziel" "Wert")}}
                {{/systems/splittermond/templates/partials/includes/item-list.hbs}}
            </div>
        </div>
    {{/inline}}
{{/systems/splittermond/templates/partials/layouts/layout-item.hbs}}
