{{#> systems/splittermond/templates/partials/includes/gegenstand.hbs}}
    {{#*inline "extra-tabs"}}
        <a class="item control-height" data-tab="shield">Schild</a>
    {{/inline}}
    {{#*inline "extra-tabs-content"}}
        <div class="tab" data-group="primary" data-tab="shield">
            <div class="d-flex flex-col flex-grow">
                <div class="d-flex align-items-center m-small">
                    <label class="col-4" for="data.VTD">VTD+:</label>
                    <input class="col-6" type="number" name="data.VTD" value="{{data.VTD}}"/>
                </div>
                <div class="d-flex align-items-center m-small">
                    <label class="col-4" for="data.fertigkeit">Fertigkeit:</label>
                    <input class="col-6" type="text" name="data.fertigkeit" value="{{data.fertigkeit}}"/>
                </div>
                <div class="d-flex align-items-center m-small">
                    <label class="col-4" for="data.mod">Mod:</label>
                    <input class="col-6" type="number" name="data.mod" value="{{data.mod}}"/>
                </div>
                <div class="d-flex align-items-center m-small">
                    <label class="col-4" for="data.attribute">Attribut 1:</label>
                    <div class="d-flex col-6">
                        {{#> systems/splittermond/templates/partials/includes/dropdown.hbs
                                name="data.attribute"
                                selected=data.attribute
                                labels=(prefix "attribute." (attrNames base=true derived=true includeGK=true))
                                values=(attrNames base=true derived=true includeGK=true)
                        }}
                        {{/systems/splittermond/templates/partials/includes/dropdown.hbs}}
                    </div>
                </div>
                <div class="d-flex align-items-center m-small">
                    <label class="col-4" for="data.attributeSecondary">Attribut 2:</label>
                    <div class="d-flex col-6">
                        {{#> systems/splittermond/templates/partials/includes/dropdown.hbs
                                name="data.attributeSecondary"
                                selected=data.attributeSecondary
                                labels=(prefix "attribute." (attrNames base=true derived=true includeGK=true))
                                values=(attrNames base=true derived=true includeGK=true)
                        }}
                        {{/systems/splittermond/templates/partials/includes/dropdown.hbs}}
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/systems/splittermond/templates/partials/includes/gegenstand.hbs}}
