{{#> systems/splittermond/templates/partials/layouts/layout-actor.hbs class="splimo-player-sheet"}}
    {{#*inline "header-content"}}
        <div class="d-flex flex-row border-bottom-fancy header-container">
            <div class="d-flex flex-col">
                <h1 class="charname flex-grow" style="padding-left: 90px; border: none"><input name="name" type="text" value="{{actor.name}}"/></h1>
                <div class="d-flex">
                    <span style="margin: 0 20px">Rasse: {{data.race}}</span>
                    <span style="margin: 0 20px">GK: {{data.attributes.GK}}</span>
                </div>
            </div>
            <div class="d-flex flex-col" style="min-width: 100px">

            </div>
            <div class="d-flex flex-col" style="min-width: 100px">

            </div>
        </div>
    {{/inline}}
    {{#*inline "nav-tabs"}}
        <a class="item control-height" data-tab="description">Biografie</a>
        <a class="item control-height" data-tab="attributes">Attribute</a>
        <a class="item control-height" data-tab="fertigkeiten">Fertigkeiten</a>
    {{/inline}}
    {{#*inline "nav-content"}}
        <div class="tab overflow-hidden" data-group="primary" data-tab="description">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/biography.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/biography.hbs}}
        </div>
        <div class="tab overflow-hidden" data-group="primary" data-tab="attributes">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/attributes.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/attributes.hbs}}
        </div>
        <div class="tab overflow-hidden" data-group="primary" data-tab="fertigkeiten">
            {{#> systems/splittermond/templates/sheets/actor/player-sheet-parts/fertigkeiten.hbs}}
            {{/systems/splittermond/templates/sheets/actor/player-sheet-parts/fertigkeiten.hbs}}
        </div>
    {{/inline}}
{{/systems/splittermond/templates/partials/layouts/layout-actor.hbs}}
